#zg_overlay .zg_head_row {
    border-bottom: 1px solid #e5e5e5;
}
#zg_overlay #zg_foot {
    opacity:0;pointer-events:none
}
#zg_overlay #zg_box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#zg_overlay #zg_title_text {
    opacity:0;pointer-events:none;
}
#zg_overlay .fa {
}
#zg_overlay #zg_content {
    border: none;
}
#zg_overlay #zg_content{
    width:90%;
    height:700px;
    max-width: 500px;
    background: none;
}
#zg_overlay #zg_body {
    height:100%;
    -webkit-overflow-scrolling: touch;
}
#zg_overlay #zg_box{
    /*overflow:hidden;*/
}
#zg_overlay #zg_content {
    width: 100% !important;
    height:100%;
    margin: 0 !important;
    background: none;
    max-width: none !important;
}


#zg_overlay .cpabuildmodal-header {
    border-bottom: 1px solid #e5e5e5;
}
#zg_overlay #zg_foot {
    opacity:0;pointer-events:none
}
#zg_overlay #zg_box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#zg_overlay #zg_title_text {
    opacity:0;pointer-events:none;
}
#zg_overlay .fa {
}
#zg_overlay #zg_content {
    border: none;
}
#zg_overlay #zg_content{
    width:90%;
    height:700px;
    max-width: 500px;
    background: none;
}
#zg_overlay #zg_body {
    height:100%;
    -webkit-overflow-scrolling: touch;
}
#zg_overlay #zg_box{
    /*overflow:hidden;*/
}
#zg_overlay #zg_content {
    width: 100% !important;
    height:100%;
    margin: 0 !important;
    background: none;
    max-width: none !important;
}