body.zg_body_lock {
    overflow:hidden;
}
#zg_box.zg_fade {
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}
@media screen and (orientation:portrait) {
    #zg_overlay #zg_content {
        margin: 35% auto !important;
    }
}
#zg_overlay #zg_box {
    opacity:0;pointer-events:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999999999;; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Close Button */
#zg_overlay .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
#zg_overlay button.close {
    -webkit-appearance: none;
    padding: 0;
    background: 0 0;
    border: 0;
}
#zg_overlay .close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
#zg_overlay * {
    border: 0;
    font-family: 'Open Sans', sans-serif, Arial;
    margin: 0;
    outline: 0;
    padding: 0;
}
#zg_frame{
    overflow-x:hidden;
    overflow-y:hidden;
    width:100%;
    height:100%;
}
#zg_overlay #zg_body {
    height:300px;
}
#zg_overlay .zg_head_row {
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}
#zg_overlay #zg_title_text{
    font-weight: 300;
}
#zg_overlay #zg_body {
    padding: 0;
    text-align: center;
}
#zg_overlay #zg_content {
    position: relative;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 0;
    width: 790px;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    border: none;
    border-radius: 6px;
    outline: 0;
}
#zg_overlay #zg_foot {
    padding: 15px;
    text-align: center;
    border-top: none;
    font-size: 13px;
}
#zg_overlay .close:hover,
#zg_overlay .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@-webkit-keyframes zg_keyframe_top {
    from {top: -300px;}
    to {top: 0;}
}
@keyframes zg_keyframe_top {
    from {top: -300px;}
    to {top: 0;}
}
#zg_overlay .fa{
    font-family: FontAwesome !important;
}
#zg_overlay .zg_anim  #zg_content{
    visibility: visible;
    opacity: 1;
}
#zg_overlay .zg_show  #zg_content{
    visibility: visible !important;
    opacity: 1;
    display: block !important;
}
#zg_overlay #zg_content{
    /*visibility: hidden;*/
    opacity: 0;
}
#zg_overlay #zg_content.zg_slide_down {
    -webkit-animation-name: zg_keyframe_top;
    -moz-animation-name: zg_keyframe_top;
    animation-name: zg_keyframe_top;
}
#zg_overlay #zg_content.zg_fade_in {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
#zg_overlay .zg_anim  #zg_content.zg_fade_in {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}
#zg_overlay #zg_content.zg_slide_ltr {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
#zg_overlay .zg_anim  #zg_content.zg_slide_ltr {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#zg_overlay #zg_content.zg_spin {
    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
}
#zg_overlay .zg_anim  #zg_content.zg_spin {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}
#zg_overlay #zg_content.zg_slide_3d {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
    -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
    -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
    transform: translate(30%) translateZ(600px) rotate(10deg);
}
#zg_overlay .zg_anim  #zg_content.zg_slide_3d {
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
    -moz-transform: translate(0%) translateZ(0) rotate(0deg);
    -ms-transform: translate(0%) translateZ(0) rotate(0deg);
    transform: translate(0%) translateZ(0) rotate(0deg);
}

#zg_overlay #zg_content.zg_slide_up {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}
#zg_overlay .zg_anim  #zg_content.zg_slide_up {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}